.text-center
  %p
    %strong
      = @topic.name
  = link_to 'Edit', edit_topic_path(@topic)
  |
  \#{link_to 'Back', topics_path}
  %br
  %br
.container
  %table.table.table-hover.table-bordered
    %tr
      %th Sections
      %th Edit
      %th Destroy
    %tbody
      -@sections.each do |section|
        %tr
          %td
            = link_to section.name, section
          %td
            = link_to 'Edit', edit_section_path(section)
          %td
            = link_to 'Destroy', section, method: :delete, data: { confirm: 'Are you sure?' }

= render 'sections/form'
