%p
  = form_for([@list, @phrase]) do |f|
    %p
      = f.label :phrase
      = f.text_field :english, autofocus: true
      = f.label :traditional
      = f.text_field :traditional
      = f.label :pinyin
      = f.text_field :pinyin
      = f.submit 'Save', class: 'btn btn-primary'