!!!
%html
  %head
    %title Translation
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
  = render 'layouts/nav' unless @disable_nav
  .row-fluid
    .span10.offset1
      .hero-unit.text-center
        %h1
          = link_to 'Translations', topics_path
        %h3
          Translations for your practice

.text-center
  - if notice
    %p.alert.alert-success= notice
  - if alert
    %p.alert.alert-danger= alert

  = yield
